<div class="container">
  <div class="row">
    <aside class="col-sm-6">
      <div class="card" style="margin-top: 7rem; width: 18rem;">
        <img src="<%= gravatar_url(@user, { size: 300 }) %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text">
              <%= render 'profiles/profiles', profiles: @profiles %></p>
            <p class="nav justify-content-center">
              <%= link_to '投稿', new_post_path, class: 'btn btn-lg btn-primary' %>
              <%= link_to 'プロフィール作成', new_profile_path, class: 'btn btn-lg btn-primary mt-3' %>
            </p>
          </div>
      </div>
    </aside>
    <div class="col-12">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
</div>